link:active {
    /*comment 1*/
    color: #FF00FF;    /*test 1: ok si 255 0 255 color: #FF00FF */
/* comment 3 */}

span {
    background-color: #00f0fF;    /*test 2: ok si 0 240 255  background-color: #00f0fF */
border-left: #18cc04;    /*test 3: ok si 024 204 004 border-left: #18cc04 */}

p {
color: #eee;    /*test 4: ok si 238 238 238 color: #eee*/}

div {
    color: rgb(134, 128, 119);    /*test 5: ok si hexa 868077 color: rgb(134, 128, 119) */
background-color: rgba(255, 255, 255, .95);    /*test 6: ok si hexa FFFFFF  background-color: rgba(255, 255, 255, .95)*/}

div#bottom {
color: rgba(5%, 7%, 10%, 0.5);   /*test 7: ok si 13 18 26 hexa 0D121A color: rgba(5%, 7%, 10%, 0.5)*/}

div#head {
color: hsl(274, 81%, 35%);    /*test 8: ok si 99 17 162 hexa 6311A2 color: hsl(274, 81%, 35%) */}

span:hover {
color: hsla(274deg, 81%, 35%, 0.85);   /*test 9: ok si 99 17 162 hexa 6311A2 color: hsla(274deg, 81%, 35%, 0.85)*/}

div {
     background: linear-gradient(to right white, cyan, red, orange, yellow, green, blue, indigo, violet, black ); /*test 10: ok si  white 255 255 255 FFFFFF, cyan 0 255 255 00FFFF, red 255 0 0 FF0000, orange 255 165 0 FFA500, yellow 255 255 0 FFFF00, green 0 128 0 008000 , blue 0 0 255 0000FF , indigo 75 0 130 4B0082, violet 238 130 238 EE82EE , black 0 0 0 000000 */
}
.modal-dialog-button, .sound-player-overlay StButton {
    color: #ccc; /*test 11: ok si 204 204 204 color: #ccc */
    border: 1px solid rgba(80, 80, 80, 1); /*test 12: ok si hexa 505050 border: 1px solid rgba(80, 80, 80, 1) */
    background-color: rgba(45, 45, 45, 1); /*test 13: ok si hexa 2D2D2D background-color: rgba(45, 45, 45, 1)*/
    border-radius: 0px;
}
